.app-header {
  margin-bottom: 1rem;
}

.header-logo {
  height: 60px;
  margin-right: 1rem;
  vertical-align: middle;
}

.app-header nav a {
  color: #333;
  text-decoration: none;
  margin: 0 0.5rem;
}
.app-header nav a:hover {
  text-decoration: underline;
}
